ml_project/
  data/
    raw/
    processed/
    external/
  notebooks/
    exploratory/
    reporting/
  src/
    __init__.py
    data/
      __init__.py
      make_dataset.py
      preprocess.py
    features/
      __init__.py
      build_features.py
    models/
      __init__.py
      train_model.py
      predict_model.py
    visualization/
      __init__.py